@using WebApplication1.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border: 1px solid #808080;
        width: 100%;
        
    }
        table th {
            border: 1px solid #808080;
            position: sticky;
            top: 0;
            background-color: #f2f2f2; /* Add a background color to the header for better visibility */
            z-index: 1;
        }
    table tr td, table tr th{
        border: 1px solid #808080;
    }
   
    .clsTrContent:hover{
        background: #4cff00;
    }
    #dvTableBorder{
        height: 200px;
        width: 350px;
        overflow:auto;
        border: 1px solid #000000;
    }
    .containerFlexx{
        display:inline-flex;
        margin: 10px;
        
    }
</style>

<div class="containerFlexx">

    <form action="/Home/Dashboard" method="post">
        @{
            List<BaseEquipment> pListData = (List<BaseEquipment>)ViewBag.plstData;
            <div id="dvTableBorder">
                <h4>Equipment List</h4>
                Name <input type="text" id="txtName" name="txtName" />
                <input type="submit" value="Search" name="btnSubmit"/>
                <input type="submit" value="Clear" name="btnSubmit"/>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>EcCount</th>
                        <th>EntryDate</th>
                    </tr>

                    @foreach (var item in pListData)
                    {
                        if (ViewBag.txtname != "")
                        {
                            if (item.Name == ViewBag.txtName)
                            {
                                <tr class="clsTrContent">
                                    <td>@item.Name</td>
                                    <td>@item.EcCount</td>
                                    <td>@item.EntryDate.ToString()</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="clsTrContent">
                                <td>@item.Name</td>
                                <td>@item.EcCount</td>
                                <td>@item.EntryDate.ToString()</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    </form>

    <form action="/Home/Dashboard" method="post">
        <div style="height:200px; width:350px;  border: 1px solid red; overflow:auto;">
            <h4>Employee List</h4>
            Sort: <input type="text" id="txtEmployee" name="txtEmployee" />
            <input type="submit" value="Search" name="btnSbmitEmp"/>
            <input type="submit" value="Clear" name="btnSbmitEmp"/>
            <table>
                @{ List<Employee> employees = (List<Employee>)ViewBag.employees;

                    foreach (var obj in employees)
                    {
                        if (ViewBag.txtEmployee != "")
                        {
                            if (obj.Name == ViewBag.txtEmployee)
                            {
                                <tr class="clsTrContent">
                                    <td>@obj.Name</td>
                                    <td>@obj.Age</td>
                                    <td>@obj.BirthDate</td>
                                </tr>
                            }
                        }
                        else
                        {
                                <tr class="clsTrContent">
                                    <td>@obj.Name</td>
                                    <td>@obj.Age</td>
                                    <td>@obj.BirthDate</td>
                                </tr>
                        }

                    }
                }
            </table>
        </div>
    </form>
</div>


